@import "./variables";
@import "./bootstrap";

@import "@bpmn-io/draggle/dist/draggle";

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

// fix drag container scrolling
.gu-mirror {
  pointer-events: none;
}

// theme customizations

.navbar-brand {
  padding: 0;
  margin: 0;
}

html {
  font-size: .9rem;
}

.avatar img {
  vertical-align: unset;
}

.scroll-container-h,
.scroll-container-v {
  --container-gap: 0.5rem;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .25) transparent;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $darker;
  }

  .scroll-container-h,
  .scroll-container-v {
    scrollbar-color: rgba(255, 255, 255, .25) transparent;
  }
}