@import "./variables";
@import "./_bootstrap";

@import "./_style";

@import "@bpmn-io/draggle/dist/dragula";

/* Fix drag container scrolling */
.gu-mirror {
  pointer-events: none;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}