$enable-grid-classes: false;

$primary: #37ACC8;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$info: #0dcaf0;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;
$darker: #0e1117;

$background-green: $success;
$background-red: $danger;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";