$enable-grid-classes: false;

$primary: #37ACC8;
$secondary: #4765D1;
$success: #28a745;
$danger: #dc3545;
$info: #8AD6E8;
$warning: #FFC541;
$light: #f8f9fa;
$dark: #343a40;

$background-green: #2cbe4e;
$background-red: #d73a49;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";