{
  "extends": [
    "plugin:bpmn-io/es6"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": [ 2, { "args": "none", "ignoreRestSiblings": true, "varsIgnorePattern": "^_" } ],
  }
}