@import "variables";

.board-card-container {
  width: 100%;
}

.board-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  padding: 4px 8px;
  cursor: default;
  outline-width: 3px;

  .header {
    margin-bottom: 7px;
  }
}

.board-card-links.attached {
  background: $light;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 3px 5px -2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: -6px;
  position: relative;
  padding: 7px 8px 4px 8px;
}

:global {
  .card-link:not(:last-child) {
    > .card-status {
      margin-bottom: -2px !important;
    }
  }

  .board-card-links.attached .card-link:last-child,
  .board-card {
    > .card-status {

      .state:last-child {
        border-bottom-right-radius: 4px;
      }

      .state:first-child {
        border-bottom-left-radius: 4px;
      }
    }
  }
}


.board-card-links {
  margin-top: 2px;
}

.header {
  display: flex;
  align-items: center;
  user-select: none;

  & > * {
    flex-shrink: 0;
  }

  & > .repository {
    flex: 1;
  }

  > .collaborator-links {
    display: flex;
    align-items: center;
  }
}

.issue-type {
  margin-right: 3px;
}

.issue-type-pull-request {
  color: #6cc644;
}

.issue-number {
  font-weight: bold;
  margin-right: 6px;

  display: flex;
  align-items: center;
  text-decoration: none;
}

.repository,
.short-title {
  color: $gray-600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.1em;
  margin: 0 0 9px 0;
  min-height: 30px;
  line-height: 1.2em;
  color: $gray-700;
  overflow: hidden;
}

.title textarea {
  width: 100%;
  line-height: 1.2em;
  resize: none;
  border: none;
  padding: 2px;
  min-height: 30px;
  overflow: hidden;
  color: $gray-700;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.links {
  margin-left: auto;
}

.links a {
  color: $gray-500;
}

.links a:hover {
  color: $gray-600;
}

@media (prefers-color-scheme: dark) {
  .board-card {
    background-color: $darker;
    color: $light;
    border: solid 1px $dark;
    box-shadow: none;
  }

  .board-card-links.attached {
    background: darken($darker, 5%);
    border: solid 1px $dark;
    box-shadow: none;
  }

  .title{
    color: $light;
  }

  .repository,
  .short-title {
    color: darken($light, 30%);
  }
}