@import "variables";

.board-card-container {
  width: 100%;
  margin-bottom: 10px;
}


.board-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  padding: 4px 8px;

  .header {
    margin-bottom: 7px;
  }
}

.header {
  display: flex;
  align-items: center;
  user-select: none;

  & > * {
    flex-shrink: 0;
  }

  & > .repository {
    flex: 1;
  }
}

.issue-type {
  margin-right: 3px;
}

.issue-type-pull-request {
  color: #6cc644;
}

.issue-number {
  font-weight: bold;
  margin-right: 6px;
}

.repository {
  color: $gray-600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1.1em;
  margin: -2px -2px 5px -2px;
}

.title textarea {
  width: 100%;
  line-height: 1.2em;
  resize: none;
  border: none;
  padding: 2px;
  min-height: 30px;
  overflow: hidden;
  color: $gray-700;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.links {
  margin-left: auto;
}

.links a {
  color: $gray-500;
}

.links a:hover {
  color: $gray-600;
}

.assignee {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 3px;

  margin-left: 3px;

  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;

  img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }

  &.reviewer:before {
    content: '';
    display: block;
    background: $info;
    width: .7em;
    height: .7em;
    border: solid 2px white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
  }
}