@import "variables";

.taskboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 600px) {
  :global {
    .board-filter {
      width: 100% !important;
    }

    .navbar .board-filter-parent {
      flex: 1 !important;
    }

    .navbar .logo {
      width: 32px;
      height: 32px;
    }
  }
}

.taskboard-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    font-size: 1.3em;
    margin-top: 1.7rem;
    margin-bottom: 3rem;
    color: $gray-700;
  }
}

.taskboard-board {
  --container-gap: .5rem;

  display: flex;
  flex: 1;
  overflow-x: auto;

  margin-top: 0;
  padding: 0 var(--container-gap);
  gap: var(--container-gap);
}

.taskboard-column {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
  border-radius: .25rem;
  background: #ebecf0;

  &.collapsed {
    min-width: 3rem;

    flex: 0;
  }

  margin-bottom: var(--container-gap);
}

.taskboard-column-items {
  flex: 1;
  overflow-y: auto;
  margin-top: 0;
}

.taskboard-column-header {
  text-align: center;

  line-height: 2.4em;
  font-size: 1.25em;
  color: inherit;
}

.taskboard-column-collapse {
  color: $gray-500;
  font-size: 1.2rem;
}

.taskboard-column-collapse:hover {
  color: $gray-700;
}

.taskboard-column:not(.collapsed) {

  .taskboard-column-header {
    position: relative;
  }

  .taskboard-column-collapse {
    position: absolute;
    padding: 0 0.4rem;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
  }
}

.taskboard-column.collapsed {

  .taskboard-column-collapse {
    padding: 0 0.1rem;
    margin: 0.6rem 0.5rem;
  }

  .taskboard-column-header {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .taskboard-column-name,
  .taskboard-column-issue-count {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }

  .taskboard-column-name {
    order: 2;
  }

  .taskboard-column-issue-count {
    padding: .5em 0;
    order: 0;
  }
}

.taskboard-column-name {
  color: #424657;
}

.taskboard-column-issue-count {
  color: $primary;
  display: inline-block;
  padding: 0 .25em;
}

.card-container {
  margin: var(--container-gap);
}

.card-container:first-child {
  margin-top: 0;
}

@media (prefers-color-scheme: dark) {
  .taskboard-column {
    background: #1b1d25;
  }

  .taskboard-column-name {
    color: $light;
  }

  :global(.navbar) {
    background-color: $darker;
    border-color: $dark;
  }
}