@import "variables";

.taskboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.taskboard-board {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 3px;
  padding-top: 0;
  overflow-x: auto;
}

.taskboard-column {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
  flex-shrink: 0;

  border-radius: 2px;
  border: solid 1px #EEE;
  margin: 3px;
  background: rgb(235, 236, 240);

  &.collapsed {
    line-height: 2em;
    min-width: auto;

    flex: 0 0 0%;
  }
}

.taskboard-column-items {
  flex: 1;
  overflow-y: auto;
  padding: 3px 10px 10px;
}

.taskboard-column-header {
  text-align: center;

  line-height: 2.4em;
  font-size: 1.25em;
  color: inherit;
}

.taskboard-column-collapse {
  color: $gray-600;
  float: left;
  padding: 0 12px;
  line-height: 2.4em;
  margin-right: -20px;
  font-size: 1.2rem;
}

.taskboard-column.collapsed {

  .taskboard-column-collapse {
    float: right;
    padding: 4px 12px;
    margin: -7px 0 0 0;
  }

  .taskboard-column-header {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    text-align: right;
    flex: 1;
  }

  .taskboard-column-issue-count {
    padding: 5px 0;
  }
}

.taskboard-column-issue-count {
  color: $primary;
  display: inline-block;
  padding: 0 5px;
}


.taskboardError {

  z-index: 201;

  .content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-align: center;

    h2 {
      margin-top: 20px;
      color: $gray-700;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: rgba(255, 255, 255, .6);
  }
}